:root {
  --main-color: #ffc15e;
  --bg: #ce6a85;
  --secundario: #77324d;
  --border: 0.1rem solid #ffc15e;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

#cookie-consent {
  background-color: #ebebeb;
  color: #212529;
  border: none;
}

#cookie-consent a {
  color: var(--bg);
}

#cookie-consent button {
  background-color: var(--main-color);
  color: #000;
  border: solid 1px #000;
  font-weight: 600;
}

#cookie-consent button:hover {
  background-color: var(--bg);
}

.container h1,
.container h3,
.container p {
  font-family: "Inter" !important;
}

.container {
  margin-top: 50px;
}

.title {
  font-size: 4.3rem;
  font-weight: 600;
  color: var(--main-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: slideDown 1s ease forwards;
}

.container h3 {
  font-size: 2rem;
}

.container p {
  font-size: 1.15rem;
}

.buttons button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: #000;
  font-weight: bolder;
  font-size: 15px;
  border-color: #000;
}

.buttons button:hover {
  border: 2px solid var(--secundario);
  background-color: lightgoldenrodyellow;
  color: var(--secundario);
}

.buttons .saiba-mais {
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  color: var(--main-color);
}

.saiba-mais {
  display: inline-block;
  transition: all 0.3s ease;
}

.saiba-mais:hover {
  transform: scale(1.1);
}

.saiba-mais .iconify {
  vertical-align: middle;
  transition: all 0.3s ease;
}

.saiba-mais:hover .iconify {
  transform: translateX(5px);
}

.buttons a {
  text-decoration: none;
}

.btn-primary {
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.btn-primary:hover.animate__animated {
  animation: bounce 1s;
}

#btn-baixar-app:focus {
  outline: none;
  box-shadow: none;
}

#btn-baixar-app:active {
  background-color: lightgoldenrodyellow;
  color: var(--secundario);
  border: 0.125rem solid var(--secundario);
}

.dark-theme #cookie-consent {
  background-color: #222;
  color: #f8f9fa;
}

.dark-theme #cookie-consent a {
  color: var(--main-color);
}

.dark-theme #cookie-consent button {
  background-color: var(--main-color);
  color: #222;
}

.dark-theme #cookie-consent button:hover {
  background-color: var(--bg);
  color: #fff;
  font-weight: 600;
}

.dark-theme .buttons button:hover {
  border: 2px solid var(--main-color);
  background-color: #eee;
  color: var(--secundario);
}

.dark-theme .btn-primary:active {
  background-color: #efe !important;
  border: 2px solid #ffc15e !important;
  color: #000 !important;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    text-shadow: none;
  }
  100% {
    transform: translateY(0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

#img-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .col-6 {
    order: 2;
  }

  .col-6#img-index {
    order: 1;
    margin-bottom: 20px;
    text-align: center;
  }

  .col-6#img-index img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .col-6#img-index + .col-6 {
    margin-top: 20px;
  }
}
