:root {
  --main-color: #ffc15e;
  --bg: #ce6a85;
  --secundario: #77324d;
  --border: 0.1rem solid #ffc15e;
}

body {
  background-color: #fff;
}

#cookie-consent {
  background-color: #ebebeb;
  color: #212529;
  border: none;
}

#cookie-consent a {
  color: var(--bg);
}

#cookie-consent button {
  background-color: var(--main-color);
  color: #000;
  border: solid 1px #000;
  font-weight: 600;
}

#cookie-consent button:hover {
  background-color: var(--bg);
}

#AboutUs {
  padding: 40px 0;
  font-family: "Inter" !important;
}

#AboutUs h1 {
  margin-bottom: 30px;
  font-weight: 600;
}

.container h1 {
  color: var(--main-color);
}

.card {
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--secundario);
}

.card-text {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: var(--main-color);
  color: #000;
  border: solid 1px #000;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: var(--bg);
  color: #000;
  border: solid 1px #222;
}

.btn-primary:active {
  background-color: var(--bg) !important;
  border: 2px solid #000 !important;
  color: #000 !important;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.8rem transparent;
}

.dark-theme .btn-primary:active {
  background-color: #fff !important;
  color: #000;
  border: 2px solid #ffc15e !important;
}

.dark-theme .btn-primary {
  background-color: var(--main-color);
  border-color: #000;
  color: #000;
}

.dark-theme .btn-primary:hover {
  background-color: #efd !important;
  border: 2px solid var(--main-color);
}

.dark-theme .btn-primary:focus {
  border-color: #000;
}

.dark-theme .card {
  background-color: #222;
  color: #fff;
}

.dark-theme .card-title {
  color: var(--bg);
}

.dark-theme .card-text {
  color: lightgoldenrodyellow !important;
}

.dark-theme .fa-solid {
  font-weight: 900;
  color: #fff;
}

.dark-theme #cookie-consent {
  background-color: #222;
  color: #f8f9fa;
}

.dark-theme #cookie-consent a {
  color: var(--main-color);
}

.dark-theme #cookie-consent button {
  background-color: var(--main-color) !important;
  color: #222 !important;
}

.dark-theme #cookie-consent button:hover {
  background-color: var(--bg) !important;
  color: #fff !important;
  font-weight: 600;
}
